<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>The Bored Panda Edition</p>
  </div>
</div>
<div class="container-fluid article-container">
  {{!-- Insert Stuff here --}}
  {{#each data}}
  <div class="row mx-auto">
    <div id="#articles" class="col-md-7">
      <div class="card">
        <div class="card-header text-center">
          <h4>
            <a href={{link}}>{{title}}</a></h4>
          <div class="card-body text-center">
            <p>{{summary}}</p>
            <button data-id={{_id}} id="saveArticle" class="btn btn-danger">Save Article</button>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div id="images" class="col-md-3">
      <div class="card image-card">
        <div class=" card-header text-center">
          <img class="image-size" src={{image}} alt="boredPanda" />
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  {{#unless data}}
  <div class='alert alert-warning text-center'>
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
  </div>
  {{/unless}}

  <div class="card">
    <div class="card-header-2 text-center">
      <h3>What Would You Like To Do?</h3>
    </div>
    <div class="card-body text-center">
      <h4>
        <a class="scrape-new">Try Scraping New Articles</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved Articles</a>
      </h4>
    </div>
  </div>
</div>